<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
		  <p><a href="/">Accueil/Home</a>. CV (<a href="/fr/cv">fr</a>, <a href="/en/cv">en</a>), Publications (<a href="/fr/papers">fr</a>, <a href="/en/papers">en</a>), Software (<a href="/fr/tools">fr</a>, <a href="/en/tools">en</a>).</p>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
		  <p><a href="mailto:pierucci@gmail.com">email</a>. © Antoine Filipović-Pierucci 2016 <a rel="license"
        		  href="http://creativecommons.org/licenses/by-sa/4.0/">
        		    <img alt="Creative Commons License"
        		    style="border-width:0"
        		    src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
        		  </a></p>
		</footer>
	</body>
</html>
